// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../main/parameters"; 

.footer {
    background: #050C26;
}

.footer__iner {
    display: flex;
    justify-content: space-between;
}

.footer__logo {}

.footer__logo-img {
    //margin: 75px 232px 30px 0;
    padding: 75px 0 30px 0;
}

.logo__img {} 

.logo__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    max-width: 316px;
    max-height: 116px;
}

.footer__nav1 {}

.footer__nav1-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    display: block; 
    //margin: 75px 214px 25px 232px;
    padding: 7.5rem 0 2.5rem 0;
} 

.footer__nav2-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    display: block; 
    //margin: 75px 110px 25px 0;
    padding: 7.5rem 0 2.5rem 0; 
}

.footer__nav-list {}

.footer__nav-link {
    padding-bottom: 1.15rem;
}

.footer__nav-item {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    //padding-bottom: 1.5rem;
}

.footer__contact {}

.footer__contact-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    display: block;
    padding: 7.5rem 0 2.5rem 0;
}

.footer__contact-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    display: block;
}

.footer__contact-iner {
    margin: 0 -1.5rem;
    display: flex;
    //justify-content: space-between;
}

.contact__colum {
    padding: 1.25rem;
}

.img__face {}

.img__inst {}

.img__twit {}

.img__google {}

.footer__btn {
    max-width: 16.1rem;
    max-height: 6.2rem;
    background: #3988FF;
    padding: 1.5rem 3rem;
    margin-bottom: 3.5rem;
} 

.footer__btn-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
} 