@import "../main/parameters";

.fs-section {}

.fs-section__title {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 4.3rem;
    line-height: 130%;
    text-align: center;
    color: #050C26;
    margin-top: 96.41px;
} 

.fs-section__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 160%;
    text-align: center;
    color: #575859;
    margin-top: 25px;
    margin-bottom: 70px;
}

.colum__group {}

.fs-section__colum {
    display: flex;
    margin-left: -230px;
}

.fs-section__creativ {
    margin-right: 97px;
}

.fs-section__img {}

.group {
    max-width: 488px;
    max-height: 427px;
    padding: 45px 0 45px 0;
}

.fs-group {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.second-group {
    padding:  0;
}

.third-group {
    padding:  0;
}

.fourth-group {
    padding: 0;
}

.fs-group__title{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #050C26;
    display: inline-block;
    margin-right: 256px;
    max-height: 38px;
    max-width: 135px;
    margin-bottom: 35px;
}
 
.second-group__title {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #050C26;
    display: inline-block;
    margin-right: 215px;
    max-height: 38px;
    max-width: 174px;
    margin-bottom: 35px;
}   

.third-group__title {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #050C26;
    display: inline-block;
    margin-right: 220px;
    max-height: 38px;
    max-width: 168px;
    margin-bottom: 35px;
}

.fourth-group__title {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 150%;
    color: #050C26;
    display: inline-block;
    margin-right: 194px;
    max-height: 38px;
    max-width: 197px;
    margin-bottom: 35px;
}

.fs-group__text{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 150%;
    color: #E41A1A;
    display: inline-block;
    padding: 0;
}

.second-group__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #DA5A12;
    display: inline-block;
}

.third-group__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #5BBB10;
    display: inline-block;
}

.fourth-group__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #15C1CC;
    display: inline-block;
}

@media (max-width: $md - 1) {
    .fs-section__title {
        width: 100%;
        max-width: 100%;
        font-size: 4.0rem;
    }

}

@media (max-width: $sm - 1){
    .fs-section__colum {
        display: block;
        margin: 0 auto;
    }
    .fs-section__img {
        width: 100%;
    }
    .fs-section__creativ {
        width: 100%;
    }
    .fs-section__title {
        width: 100%;
        max-width: 100%;
        font-size: 3.5rem;
        margin-bottom: 10px;    
    }
    .fs-section__text {
        width: 100%;
        max-width: 100%;
        font-size: 1.5rem;
        margin-bottom: 10px;    
    }    
}

@media (max-width: $xs - 1) {
    .fs-section__colum {
        display: block;
        margin: 0 auto;
    }
    .fs-section__img {
        width: 100%;
    }
    .fs-section__creativ {
        width: 100%;
    }
    .fs-section__title {
        width: 100%;
        max-width: 100%;
        font-size: 3.5rem;
        margin-bottom: 10px;    
    }
    .fs-section__text {
        width: 100%;
        max-width: 100%;
        font-size: 1.5rem;
        margin-bottom: 10px;    
    }    
    .fs-group__title {
        font-size: 2.0rem;
        line-height: 100%;
        padding: 0;
        margin-right: 0;
    }
    .fs-group__text {
        font-size: 2.0rem;
        line-height: 100%;
        padding: 0;
    }
    
    .fs-group__text{
        font-size: 2.0rem;
        line-height: 100%;
        padding: 0;
    }
    .second-group__title{
        font-size: 2.0rem;
        line-height: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .second-group__text {
        font-size: 2.0rem;
        line-height: 100%;
        padding: 0;

    }
    .third-group__title{
        font-size: 2.0rem;
        line-height: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .third-group__text  {
        font-size: 2.0rem;
        line-height: 100%;
        padding: 0;    
    }
    .fourth-group__title {
        font-size: 2.0rem;
        line-height: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .fourth-group__text {
        font-size: 2.0rem;
        line-height: 100%;
        padding: 0; 
    }


}

.colum__group1 {
    margin-top: 20px;
}

.progress-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 45px;
}

.pb {
    display: block;
    background-color: rgba(228,26,26,0.1);
    height: 15px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    &::after {
        z-index: 1;
        display: block;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 20%;
        background-color: rgba(228,26,26,1);
    }
}

.pb--orange {
    background-color: rgba(218,90,18,0.1);
    &::after {
        background-color: rgba(218,90,18,1);
        right: 10%;
    }
}

.pb.pb--green {
    background-color: rgba(218,90,18,0.1);
    &::after {
        background-color: #5BBB10;    
        right: 25%;
    }
}

.pb.pb--blue {
    background-color: rgba(218,90,18,0.1);
    &::after {
        background-color: #15C1CC;
    }
}