// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../main/parameters";

.header {
    background: url("../imgs/bg.jpg") right bottom no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.header__iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0 3rem;
}

.logo__iner  {}

.logo {}

.logo__img {}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin: 0 49px 0 0;
}

.nav__link {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #575859;
    text-decoration: none;
    }

.btn {
    display: inline-block;
    background: #3988FF;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
}

.btn--big {

}

.btn__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}

.section__header {
    display: flex;
    position: relative;
}

.ideas {}

.ideas__title {
    display: block;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 69px;
    line-height: 120%;
    color: #050C26;
    width: 550px;
    //max-height: 249px;
    margin: 141px 0 27px 0;
}

.ide {
    color: #3988FF;
}

.ideas__text {
    display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
    width: 496px;
    //max-height: 87px;
    margin: 19px 0 14px 0;
}

.play {
    display: inline-flex;
    align-items: center;
}

.play__bg {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background: #FFFFFF url('') center no-repeat;
    box-shadow: 0px 0px 30px #FFE6E6;
    padding: 24px 24px 24px 30px;
}

.play__img {
    
}

.play__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #050C26;
    display: inline-block;
    margin-left: 25px;
}

.men {
    position: relative;
}


.men__img {
}

.men1__img {
    transform: translate(90px, 105px);
}
    
.img__fon2 {
    position: absolute;
    left: 193px;
    top: 260px;
}

@keyframes rotateAnim {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1.2);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

.img-fon {
    position: absolute;
    left: 193px;
    top: 260px;
}

@media (max-width: $md - 1) {
    .section__header {
        flex-wrap: wrap;
    }

    .ideas__title {
        width: 100%;
        max-width: 100%;
        font-size: 5.8rem;
        margin: 41px 0 27px;
    }

    .ideas__text {
        width: 100%;
        max-width: 100%;
        margin: 0 0 30px;
    }

    .men {
        margin-left: 0;
    }
    .men1__img {
        transform: translate(144px, 105px);
    }

    .header__burger {
        display: none;
    }
}

@media (max-width: $sm - 1) {
    .ideas__title {
        font-size: 4.8rem;
    }

    .men {
        margin-left: -21%;
    }

    .logo__iner {
        display: flex;
    }

    .nav__list {
        display: none;
    }
    .header__burger{
        display: none;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        align-items: center;
        margin-left: 30px;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header__burger::before{
        top: 0;
    }    
    .header__burger::after {
        bottom: 0;
    } 
    .burger {
        background: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;   
    }

}    

@media (max-width: $xs - 1) {
    .ideas__title {
        font-size: 3.2rem;
        margin: 0 0 1rem;
    }
    .ideas__text {
        font-size: 1.6rem;
    }
    .men1__img {
        transform: translate(42px, 3px);
    }
    .logo__iner {
        display: flex;
        justify-content: space-between;
    }

    .nav__list {display: none;}

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }    
    .header__burger::before{
        top: 0;
    }    
    .header__burger::after {
        bottom: 0;
    } 
    .burger {
        background: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;   
    }


}

