// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../main/parameters";

.header {
    background: url("../imgs/bg.jpg") right bottom no-repeat;
    background-size: cover;
    min-height: 100vh;
}

//.container {
   // max-width: 1140px;
   // margin: 0 auto;   
//}

.header__iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0 3rem;
}

.logo__iner  {}

.logo {}

.logo__img {}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin: 0 49px 0 0;
}

.nav__link {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #575859;
    text-decoration: none;
    }

.btn {
    display: inline-block;
    background: #3988FF;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
}

.btn--big {

}

.btn__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}

.section__header {
    display: flex;
    position: relative;
}

.ideas {}

.ideas__title {
    display: inline-block;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 69px;
    line-height: 120%;
    color: #050C26;
    width: 550px;
    height: 249px;
    margin: 141px 0 27px 0;
}

.ide {
    color: #3988FF;
}

.ideas__text {
    display: inline-block;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
    width: 496px;
    height: 87px;
    margin: 19px 0 14px 0;
}

.play {
    display: inline-flex;
    align-items: center;
}

.play__bg {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background: #FFFFFF url('') center no-repeat;
    box-shadow: 0px 0px 30px #FFE6E6;
}

.play__img {
    
}

.play__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #050C26;
    display: inline-block;
    margin-left: 25px;
}

.men {
    position: relative;
    margin-left: -120px;
}

.men__img {
    position: relative;
    z-index: 1;
}
    


.ellipse__img {
    position: absolute;
    left: 195px;
    top: 70px;
}

.img1 {
    position: absolute;
    left: 630px;
    top: 135px;
}

.img2 {
    display: inline-block;
    position: absolute;
    left: 300px;
    top: 160px;
    //@at-root/
    transform: translate(0); 
    transition: transform ease 0.4s;
    // animation: rotateAnim linear 5s infinite;
    &:hover {
       transform: translate(360deg); 
    }
 }

@keyframes rotateAnim {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1.2);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

.img-fon {
    position: absolute;
    left: 193px;
    top: 260px;
}