div.five-section 
    div.container 
        h2.five-section__title See what our clients say!
        p.five-section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius semper velit non nulla adipiscing nisl vel mi elementum.
        div.marketing-officer 
            div.marketing-officer__blok1
                div.blok__text
                    img(src="./assets/imgs/cov.svg", alt="img").blok__text-img 
                    p.marketing-officer__text Over the years, The Agency Creative have worked with us on everything from brand design, video, photography. 
                div.block__title
                    img(src="./assets/imgs/foto1.svg", alt="img").marketing-officer__img
                    span.marketing-officer__name Corey Herwitz 
                    span.marketing-officer__title Marketing Officer 
            div.marketing-officer__blok2 
                div.blok__text1 
                    img(src="./assets/imgs/cov.svg", alt="img").blok__text-img
                    p.marketing-officer__text Always a pleasure to work with The Agency Creative. Such professional and happy people and you know.
                div.block__title
                    img(src="./assets/imgs/foto2.svg", alt="img").marketing-officer__img2  
                    span.marketing-officer__name Jakob Calzoni 
                    span.marketing-officer__title Marketing Officer 