footer.footer  
    div.container
        div.footer__iner 
            div.footer__logo
                div.footer__logo-img
                    a(href="#!").footer__logo 
                    img(src="./assets/imgs/logo-footer.svg", alt="img").logo__img
                p.logo__text Advertising office is a business that helps promoters in all phases of the advertising procedure – from record administration.
            nav.footer__nav1
                span.footer__nav1-title Services  
                ul.footer__nav-list 
                    li.footer__nav-link 
                        a(href="#!").footer__nav-item Logo & Branding
                    li.footer__nav-link 
                        a(href="#!").footer__nav-item Social Media Marketing
                    li.footer__nav-link 
                        a(href="#!").footer__nav-item Website Development
                    li.footer__nav-link 
                        a(href="#!").footer__nav-item Search Engine Optimization 
            nav.footer__nav1
                span.footer__nav2-title Support
                ul.footer__nav-list 
                    li.footer__nav-link 
                        a(href="#!").footer__nav-item Contact Us 
                    li.footer__nav-link 
                        a(href="#!").footer__nav-item Support System
                    li.footer__nav-link 
                        a(href="#!").footer__nav-item Refund Policy
                    li.footer__nav-link 
                        a(href="#!").footer__nav-item Privacy Policy 
            div.footer__contact
                span.footer__contact-title Contact Us
                span.footer__contact-text shovasatkhira88@info 
                div.footer__contact-iner
                    div.contact__colum
                        img(src="./assets/imgs/face.svg", alt="img").img__face 
                    div.contact__colum
                        img(src="./assets/imgs/inst.svg", alt="img").img__inst
                    div.contact__colum
                        img(src="./assets/imgs/twit.svg", alt="img").img__twit
                    div.contact__colum
                        img(src="./assets/imgs/google.svg", alt="img").img__google
                div.footer__btn 
                    span.footer__btn-text Subscribe                                        
                     