div.fourth-section 
    div.container 
        h2.fourth-section__title1 THE BEST OFFERS
        h2.fourth-section__title2 OUR PRICING PLAN
        div.fourth-section__menu
            span.menu__text  
                a(href="#!").menu__text-link Yearly Billing
            div.menu__btn 
                span.menu__btn__text Monthly billing 
        div.fourth-section__iner 
            div.fourth-section__colum 
                div.colum-menu 
                    div.colum-menu__header 
                        span.menu__header-title BASIC
                    div.colum-menu__body
                        img(src="./assets/imgs/$.svg", alt="img").menu__body-img 
                        span.menu__body-price 20
                        span.menu__body-text Per of month
                        span.menu-nav__link_a 
                            a(href="#!").menu-nav__item 25 GB Disk Space
                        span.menu-nav__link_b 
                            a(href="#!").menu-nav__item Mail Support
                        span.menu-nav__link_c 
                            a(href="#!").menu-nav__item 15 Domains
                        span.menu-nav__link_d 
                            a(href="#!").menu-nav__item No License
                        div.meny__body-btn 
                            span.body-btn__text Purchase   
            div.fourth-section__colum 
                div.colum-menu 
                    div.colum-menu__header 
                        span.menu__header-title BASIC
                    div.colum-menu__body
                        img(src="./assets/imgs/$.svg", alt="img").menu__body-img 
                        span.menu__body-price 20
                        span.menu__body-text Per of month
                        span.menu-nav__link_a 
                            a(href="#!").menu-nav__item 25 GB Disk Space
                        span.menu-nav__link_b 
                            a(href="#!").menu-nav__item Mail Support
                        span.menu-nav__link_c 
                            a(href="#!").menu-nav__item 15 Domains
                        span.menu-nav__link_d 
                            a(href="#!").menu-nav__item No License
                        div.meny__body-btn 
                            span.body-btn__text Purchase                                  
            div.fourth-section__colum 
                div.colum-menu 
                    div.colum-menu__header 
                        span.menu__header-title BASIC
                    div.colum-menu__body
                        img(src="./assets/imgs/$.svg", alt="img").menu__body-img 
                        span.menu__body-price 20
                        span.menu__body-text Per of month
                        span.menu-nav__link_a 
                            a(href="#!").menu-nav__item 25 GB Disk Space
                        span.menu-nav__link_b 
                            a(href="#!").menu-nav__item Mail Support
                        span.menu-nav__link_c 
                            a(href="#!").menu-nav__item 15 Domains
                        span.menu-nav__link_d 
                            a(href="#!").menu-nav__item No License
                        div.meny__body-btn 
                            span.body-btn__text Purchase                                                                                                          