section.fs-section 
            div.container  
                h2.fs-section__title Transforming brands with creativity
                p.fs-section__text As a rule the organization settles on the inventive and media choices. Regularly it supplies supporting statistical surveying too, and may even be associated.
                div.fs-section__colum
                    div.colum__group 
                        div.fs-section__creativ 
                            img(src="./assets/imgs/creativ.svg", alt="img").fs-section__img  
                    div.colum__group1
                        div.progress-bar 
                            span.fs-group__title Web Design
                            span.fs-group__text 80%
                            span.pb
                        div.progress-bar 
                            span.second-group__title UI & UX Design
                            span.second-group__text  90%
                            span.pb.pb--orange
                        div.progress-bar     
                            span.third-group__title Graphic Design
                            span.third-group__text 75%
                            span.pb.pb--green
                        div.progress-bar      
                            span.fourth-group__title Photo Retouching
                            span.fourth-group__text 80% 
                            span.pb.pb--blue