div.second-section 
            div.container
                h2.second-section__title We have impressive Template Features 
                p.second-section__text Advertising office is a business that helps promoters in all phases of the advertising procedure – from record administration and intending to message creation.
                div.second-section__iner  
                    div.iner__colum 
                        div.benefits1
                            div.benefits1__bg-img
                                img(src="./assets/imgs/img_a.svg", alt="img").benefits__img
                            h3.benefits__title-a High quality
                            p.benefits__text An agency philosophy is distinctive features .
                            a(href="#!").section-benefits-btn 
                                div.benefits-btn  
                                    span.benefits-btn__text Read More
                    div.iner__colum    
                        div.benefits2
                            div.benefits2__bg-img
                                img(src="./assets/imgs/img_b.svg", alt="img").benefits__img
                            h3.benefits__title-b User Friendly
                            p.benefits__text An agency philosophy is distinctive features .
                            a(href="#!").section-benefits-btn 
                                div.benefits-btn   
                                    span.benefits-btn__text Read More
                    div.iner__colum    
                        div.benefits3 
                            div.benefits3__bg-img
                                img(src="./assets/imgs/img_c.svg", alt="img").benefits__img
                            h3.benefits__title-c Notifications
                            p.benefits__text An agency philosophy is distinctive features .
                            a(href="#!").section-benefits-btn 
                                div.benefits-btn  
                                    span.benefits-btn__text Read More
                    div.iner__colum    
                        div.benefits4 
                            div.benefits4__bg-img                                         
                                img(src="./assets/imgs/img_d.svg", alt="img").benefits__img
                            h3.benefits__title-d 24/7 Support
                            p.benefits__text An agency philosophy is distinctive features .
                            a(href="#!").section-benefits-btn 
                                div.benefits-btn  
                                    span.benefits-btn__text Read More 