div.third-section
            div.container
                div.third-section__iner  
                    h2.third-section__title Our best services to solve Your problems.
                    p.third-section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor tincidunt neque vulputate vel sit ornare in ac. Aenean integer amet viverra sed gravida.
                    img.third-section__img(src="./assets/imgs/point.svg", alt="img") 
                    div.features
                        div.features__colum  
                            div.features__1 
                                div.features__a 
                                    h3.features__title Web Development 
                                    p.features__text Lorem ipsum dolor sit ame consectetur elit.  
                                    img(src="./assets/imgs/arrow.svg", alt="").features__img  
                        div.features__colum  
                            div.features__1 
                                div.features__a 
                                    h3.features__title Web Development 
                                    p.features__text Lorem ipsum dolor sit ame consectetur elit. 
                                    img(src="./assets/imgs/arrow.svg", alt="").features__img  
                        div.features__colum  
                            div.features__1 
                                div.features__a 
                                    h3.features__title Web Development 
                                    p.features__text Lorem ipsum dolor sit ame consectetur elit.   
                                    img(src="./assets/imgs/arrow.svg", alt="").features__img  
                        div.features__colum  
                            div.features__1 
                                div.features__a 
                                    h3.features__title Web Development 
                                    p.features__text Lorem ipsum dolor sit ame consectetur elit.   
                                    img(src="./assets/imgs/arrow.svg", alt="").features__img  
                        div.features__colum  
                            div.features__1 
                                div.features__a 
                                    h3.features__title Web Development 
                                    p.features__text Lorem ipsum dolor sit ame consectetur elit.   
                                    img(src="./assets/imgs/arrow.svg", alt="").features__img  
                        div.features__colum  
                            div.features__1 
                                div.features__a 
                                    h3.features__title Web Development 
                                    p.features__text Lorem ipsum dolor sit ame consectetur elit. 
                                    img(src="./assets/imgs/arrow.svg", alt="").features__img                                            