doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/app.css")
    body 
        header.header 
            div.container
                div.header__iner
                    div.logo__iner  
                        a(href="index.pug").logo 
                            img(src="./assets/imgs/INNOVATED.svg", alt="img").logo__img   
                        div.header__burger 
                            span.burger    
                    nav.nav 
                        ul.nav__list 
                            li.nav__item 
                                a(href="#!").nav__link Home   
                            li.nav__item 
                                a(href="#!").nav__link About       
                            li.nav__item 
                                a(href="#!").nav__link Features
                            li.nav__item 
                                a(href="#!").nav__link Services 
                            li.nav__item 
                                a(href="#!").nav__link Pricing
                    div.header__btn
                        a(href="#").btn 
                            span.btn__text Contact                  
                div.section__header
                    div.ideas 
                        h1.ideas__title We target the audience with our <span class="ide">ideas</span>.
                        p.ideas__text Advertising is relied upon to impact the states of mind, expectations and conduct of the customer’s clients and in this way increment .
                        div.play 
                            div.play__bg
                                img(src="./assets/imgs/Polygon 1.svg", alt="img")
                            span.play__text Watch Video
                    div.men 
                        img(src="./assets/imgs/men.png", alt="img").men1__img
        include components/fs-section
        include components/second-section 
        include components/third-section
        include components/fourth-section
        //include components/five-section 
        //include components/footer